<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>

    
    
    <form action="/upload" enctype="multipart/form-data" method="post" >
        <label for="file">File : </label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" />
        <button type="submit">Share</button>
    </form>

    <% if(locals.fileLink != null) { %>
        <div>
            Your file is uploaded here : 
            <a href="<%= locals.fileLink %>"> <%= locals.fileLink %> </a>
        </div>    
    <% } %>
        
</body>
</html>

